BODY {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
h7 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px
}
A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A {
	COLOR: #525252; TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
.clear {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; CLEAR: both; PADDING-TOP: 0px
}
#main {
	MARGIN: 0px auto; WIDTH: 100%
}
.hdlyTop {
	PADDING-BOTTOM: 8px; WIDTH: 100%; BACKGROUND: url(../images/topBg-04.jpg) repeat-x 50% bottom
}
.hdlyTop H1 {
	WIDTH: 100%; BACKGROUND: url(../images/logoBg.jpg) repeat-x; HEIGHT: 48px
}
.hdlyTop H1 IMG {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 15px
}
.hdlyTop H2 {
	FLOAT: left; COLOR: #033266; MARGIN-LEFT: 25px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.topBanner {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 70px
}
.topBanner LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 107px; FLOAT: left; HEIGHT: 30px; MARGIN-LEFT: 5px; FONT-WEIGHT: bold
}
.topBanner LI A {
	WIDTH: 107px; DISPLAY: block; BACKGROUND: url(../images/topBg-03.jpg) no-repeat; HEIGHT: 30px; COLOR: #fff
}
.topBanner LI A:hover {
	BACKGROUND: url(../images/topBg-02.jpg) no-repeat
}
.topBanner LI A.root {
	BACKGROUND: url(../images/topBg-02.jpg) no-repeat
}
.topBanner LI.bannerChang A {
	LINE-HEIGHT: 22px; WIDTH: 130px; DISPLAY: block; BACKGROUND: url(../images/topBg-05.jpg) no-repeat; HEIGHT: 22px
}
.topBanner LI.bannerChang A:hover {
	BACKGROUND: url(../images/topBg-06.jpg) no-repeat
}
.topBanner LI.bannerChang A.root {
	BACKGROUND: url(../images/topBg-06.jpg) no-repeat
}
.hdlyLeft {
	MIN-HEIGHT: 1000px; WIDTH: 177px; BACKGROUND: url(../images/hdLeftBg-03.jpg) repeat-y; FLOAT: left; BORDER-RIGHT: #bfbfbf 1px solid; _height: 1000px
}
.hdlyLeft H1 {
	LINE-HEIGHT: 31px; TEXT-INDENT: 28px; BACKGROUND: url(../images/hdLeftBg.jpg) no-repeat; HEIGHT: 38px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.leftNav LI {
	LINE-HEIGHT: 37px; MARGIN-TOP: 3px; TEXT-INDENT: 28px; BACKGROUND: url(../images/hdLeftBg-02.jpg) no-repeat
}
.leftNav LI A {
	COLOR: #222
}
.navSecond {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 7px; MARGIN-LEFT: 20px
}
.navSecond LI {
	LINE-HEIGHT: 20px; TEXT-INDENT: 17px; BACKGROUND: url(../images/leftBiao.jpg) no-repeat left 5px
}
.navThird {
	LINE-HEIGHT: 20px; MARGIN-LEFT: 20px
}
.navThird LI {
	LINE-HEIGHT: 20px; WIDTH: 135px; BACKGROUND: url(../images/hdLeftBg-04.jpg) no-repeat
}
.navFour {
	MARGIN: 10px 0px
}
.navFour LI {
	BORDER-BOTTOM: #aeaeae 1px dashed; BACKGROUND: none transparent scroll repeat 0% 0%
}
.hdlymiddle {
	MIN-HEIGHT: 1000px; WIDTH: 9px; BACKGROUND: #f0f0f0; FLOAT: left; BORDER-RIGHT: #bfbfbf 1px solid; _height: 1000px
}
.hdlymiddle IMG {
	MARGIN-TOP: 300px; MARGIN-LEFT: 2px
}
.hdlyRight {
	WIDTH: 99.9%
}
.hdlyBottom {
	BORDER-BOTTOM: #a5b3b6 1px solid; LINE-HEIGHT: 44px; BACKGROUND: url(../images/bottomBg.jpg) repeat-x; HEIGHT: 44px; BORDER-TOP: #a5b3b6 1px solid
}
.hdlyBottom H1 {
	FLOAT: left; MARGIN-LEFT: 180px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.hdlyBottom H2 {
	FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
.page {
	MARGIN: 5px 0px; WIDTH: 100%
}
#content_bb {
	WIDTH: 100%; MARGIN-BOTTOM: 20px
}
.szwz {
	LINE-HEIGHT: 30px; HEIGHT: 30px; MARGIN-LEFT: 10px; border-bottom:1px solid #b9d9d6;
}
.szwz UL {
	BACKGROUND: url(../images/jt.gif) no-repeat left center
}
.szwz LI {
	TEXT-INDENT: 20px
}
.szwz SPAN {
	FONT-WEIGHT: bold
}
.ss {
	WIDTH: 100%; HEIGHT: 90px; border-bottom:1px solid #b9d9d6;
}
.nr {
	WIDTH: 100%; float:left
}
.cfcs {
	MARGIN-TOP: 10px
}
.nr A {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px
}
.sc {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px
}
.ss .ri {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px
}
.sc {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px
}
.fanye {
	MARGIN: 0px 10px
}
.fanye LI {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.fanye UL {
	MARGIN-BOTTOM: 4px; BACKGROUND: #e6e6e6
}
.fanye .tr1 {
	BACKGROUND: #f3f3f3;
}
.fanye .tr0 {
	BACKGROUND:#FFF;
}
.fanye TD {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #494949; BORDER-RIGHT: #e8e8e8 1px solid; word-wrap:break-word;
}
.fanye TH {
	BACKGROUND: url(../images/listbg.gif) repeat-x; COLOR: #fff; BORDER-RIGHT: #ccc 1px solid
}
.fanye .w {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.zht A {
	HEIGHT: 12px; COLOR: #2362a7; TEXT-DECORATION: underline
}
.ss2 {
	WIDTH: 933px; BACKGROUND: url(../images/ssbj.gif) repeat-x; HEIGHT: 50px
}
.nr2 {
	PADDING-TOP: 10px
}
.anu {
	BORDER-RIGHT-WIDTH: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 89px; DISPLAY: block; BACKGROUND: url(../images/anu.gif) no-repeat left top; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 23px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px
}
.gjz1 {
	WIDTH: 445px
}
.gjz2 {
	WIDTH: 445px
}
.lywyy A {
	COLOR: #2362a7; TEXT-DECORATION: underline
}
.wsh A {
	COLOR: #ccc; TEXT-DECORATION: underline
}
.jd {
	BACKGROUND: #efefef
}
.ts {
	BACKGROUND: #efefef
}
.jd {
	MARGIN-BOTTOM: 2px
}
.ts {
	MARGIN-BOTTOM: 15px
}
.jdbj {
	BACKGROUND: url(../images/ts.gif) no-repeat; COLOR: #fff
}
.nr .plgx {
	WIDTH: 156px; DISPLAY: block; BACKGROUND: url(../images/plgx.gif) no-repeat; HEIGHT: 21px
}
.nr .cxfp {
	WIDTH: 122px; DISPLAY: block; BACKGROUND: url(../images/cxfp.gif) no-repeat; HEIGHT: 21px
}
.nr .sd {
	WIDTH: 66px; DISPLAY: block; BACKGROUND: url(../images/sdbj.gif) no-repeat; HEIGHT: 21px
}
.ywgjz {
	WIDTH: 286px
}
.dingdanshu {
	BORDER-BOTTOM: #666 1px solid
}
.zc {
	LINE-HEIGHT: 36px; WIDTH: 100%; BACKGROUND: url(../images/ssbj.gif) repeat-x; HEIGHT: 36px
}
.zc1 {
	FLOAT: left; MARGIN-LEFT: 25px
}
.zc2 {
	FLOAT: right; MARGIN-RIGHT: 25px
}
.zcxx {
	MARGIN: 25px auto 0px; WIDTH: 796px
}
A.jjzh {
	COLOR: #2362a7; TEXT-DECORATION: underline
}
.cjr {
	WIDTH: 430px
}
.qrButton {
	BORDER-RIGHT-WIDTH: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 89px; DISPLAY: block; BACKGROUND: url(../images/anu.gif) no-repeat; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 23px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; FONT-WEIGHT: bold
}
.jbxx {
	MARGIN: 30px 10px 10px 0px; FLOAT: right
}
.jyt {
	TEXT-INDENT: 10px
}
.fanye .kong {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.bg .bz {
	TEXT-INDENT: 10px; BACKGROUND: url(../images/bzbj.gif) repeat-x; COLOR: #000000
}
.yyxxl {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px
}
.cbx {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px
}
.hzhb {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px
}
.tj {
	MARGIN: 0px 10px
}
.fanye .wbx {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.bzx {
	TEXT-INDENT: 10px
}
.bg .jgbj {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.liebiao {
	WIDTH: 75%; FLOAT: left
}
.beizhu {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; WIDTH: 22%; FLOAT: right; HEIGHT: 162px; BORDER-TOP: #dadada 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: #dadada 1px solid
}
.beizhu H1 {
	LINE-HEIGHT: 26px; TEXT-INDENT: 12px; BACKGROUND: url(../images/bzbj.gif) repeat-x; HEIGHT: 26px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.chengbenxiang {
	WIDTH: 100%
}
.fenlei TD {
	BACKGROUND-COLOR: #ff8c05; HEIGHT: 27px; COLOR: #fff; FONT-WEIGHT: bold
}
.GridList {
	WIDTH: 100%
}
.GridList TD {
	HEIGHT: 27px
}
.shi {
	WIDTH: 18px; DISPLAY: block; MARGIN-BOTTOM: 2px; BACKGROUND: url(../images/shi.gif) no-repeat; HEIGHT: 18px
}
.shi:hover {
	BACKGROUND: url(../images/shi.gif) no-repeat
}
.ershi {
	WIDTH: 18px; DISPLAY: block; MARGIN-BOTTOM: 2px; BACKGROUND: url(../images/ershi.gif) no-repeat; HEIGHT: 18px
}
.ershi:hover {
	BACKGROUND: url(../images/ershi_2.gif) no-repeat
}
.sishi {
	WIDTH: 18px; DISPLAY: block; MARGIN-BOTTOM: 2px; BACKGROUND: url(../images/sishi.gif) no-repeat; HEIGHT: 18px
}
.sishi:hover {
	BACKGROUND: url(../images/sishi_2.gif) no-repeat
}
#jumpMenu4 {
	
}
.zsj TD {
	COLOR: #fff
}
.tjbj {
	LINE-HEIGHT: 21px; TEXT-INDENT: 24px; WIDTH: 66px; DISPLAY: block; BACKGROUND: url(../images/sdbj.gif) no-repeat; HEIGHT: 21px
}
.zsj .xxxx {
	COLOR: #333
}
.zhuangtai {
	WIDTH: 100%; COLOR: #999
}
.jbxxy {
	MARGIN: 0px auto; WIDTH: 80%
}
.jbxxy .Textbox {
	WIDTH: 95%
}
.tcan {
	MARGIN: 60px 0px
}
.bmcontent {
	MARGIN: 0px 2%; WIDTH: 96%
}
.bmcontent .baoming {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/baomingbj.gif) repeat-x; BORDER-LEFT-STYLE: none
}
.bmcontent .zxbm {
	TEXT-INDENT: 20px; BACKGROUND: url(../images/xlbmbj.gif) repeat-x; COLOR: #1a5fa4
}
.bmcontent .zxbm SPAN {
	FONT-SIZE: 14px
}
.zxleft {
	WIDTH: 580px; FLOAT: left
}
.tu {
	MARGIN-TOP: 9px; WIDTH: 229px; BACKGROUND: url(../images/tbj.gif) no-repeat; FLOAT: left; HEIGHT: 188px; MARGIN-LEFT: 36px
}
.jieshao {
	MARGIN-TOP: 9px; WIDTH: 239px; FLOAT: right; MARGIN-RIGHT: 10px; _margin-right: 10px
}
.zxright {
	MARGIN-TOP: 10px; WIDTH: 250px; FLOAT: right; MARGIN-RIGHT: 38px
}
.rlb {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 249px; MARGIN-BOTTOM: 27px; BACKGROUND: #f3f3f3; HEIGHT: 40px; FONT-SIZE: 12px
}
.xlmc {
	WIDTH: 100%
}
.diyitian {
	LINE-HEIGHT: 26px; TEXT-INDENT: 10px; WIDTH: 100%; BACKGROUND: url(../images/dytbj.gif) repeat-x 50% top; HEIGHT: 26px; COLOR: #141414; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.diyitian IMG {
	MARGIN-RIGHT: 10px
}
.xxnr {
	TEXT-INDENT: 24px; MIN-HEIGHT: 93px; WIDTH: 100%; BACKGROUND: url(../images/xxbj.gif) repeat-y
}
#tab1 {
	WIDTH: 100%
}
.movement {
	WIDTH: 100%
}
.dnt {
	TEXT-INDENT: 18px; BACKGROUND: url(../images/jt.gif) no-repeat left center
}
.tab1xx .topbj {
	BACKGROUND: url(../images/topb.gif) repeat-x; HEIGHT: 27px
}
.leftb {
	MIN-HEIGHT: 90px; BACKGROUND: url(../images/leftb.gif) repeat-y right 50%
}
.rightb {
	MIN-HEIGHT: 90px; BACKGROUND: url(../images/rightb.gif) repeat-y left 50%
}
.bottomb {
	BACKGROUND: url(../images/bottomb.gif) repeat-x 50% bottom; HEIGHT: 27px
}
.ssjg {
	LINE-HEIGHT: 26px; MARGIN: 0px auto; WIDTH: 100%
}
.ssjg H3 {
	MARGIN: 0px 26px; BACKGROUND: #9b9b9b; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ssjg H3 SPAN {
	FLOAT: left; MARGIN-LEFT: 15px
}
.ssjg H3 .leftjl {
	FLOAT: right; COLOR: #fff; MARGIN-RIGHT: 10px
}
.xxjga {
	BORDER-BOTTOM: #aeaeae 1px dashed; PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-TOP: 10px
}
.xxjga P {
	MARGIN-BOTTOM: 10px; COLOR: #505050
}
.xxjgb {
	PADDING-LEFT: 10px; PADDING-TOP: 10px
}
.xxjgb P {
	MARGIN-BOTTOM: 10px; COLOR: #505050
}
.xlt {
	COLOR: #505050
}
.jgxx {
	MARGIN: 0px 26px; MIN-HEIGHT: 274px; BACKGROUND: url(../images/xxjgbj.gif) #f4f4f4 repeat-x 50% bottom
}
.anpai {
	MARGIN: 10px 26px 0px; BACKGROUND: #ececec
}
.xq TD {
	BORDER-BOTTOM: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid
}
.topx {
	BORDER-TOP: #c6c6c6 1px solid; FONT-WEIGHT: bold
}
.zla {
	BORDER-TOP: #c6c6c6 1px solid; FONT-WEIGHT: bold
}
.zl {
	FONT-WEIGHT: bold; BORDER-RIGHT: #c6c6c6 1px solid
}
.zla {
	FONT-WEIGHT: bold; BORDER-RIGHT: #c6c6c6 1px solid
}
.meitian {
	COLOR: #dddddd; FONT-SIZE: 25px; FONT-WEIGHT: bolder
}
.zl {
	COLOR: #dddddd; FONT-SIZE: 25px; FONT-WEIGHT: bolder
}
.jgxxbottom {
	MARGIN: 20px 26px; MIN-HEIGHT: 190px; BACKGROUND: #f4f4f4
}
.xinxi {
	COLOR: #e56100; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.zhankaixianlu {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.zkrl {
	LINE-HEIGHT: 20px; TEXT-INDENT: 10px; WIDTH: 148px; DISPLAY: block; BACKGROUND: url(../images/zhaikairili.gif) no-repeat; HEIGHT: 20px; COLOR: #fff
}
.test1 {
	MARGIN-TOP: 20px; _margin-top: 50px
}
.huanying {
	MARGIN-TOP: 30px; FLOAT: left; MARGIN-LEFT: 10px
}
.bmb {
	MARGIN: 0px auto; WIDTH: 50%
}
.bmb H4 {
	LINE-HEIGHT: 25px; TEXT-INDENT: 24px; BACKGROUND: url(../images/bmbbj.gif) no-repeat left center; HEIGHT: 25px; COLOR: #406182; MARGIN-LEFT: 20%; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.fengexian {
	MARGIN: 20px auto; WIDTH: 100%; COLOR: #ebebeb
}
.skbm {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.skbmtj {
	BORDER-LEFT: #eeeeee 1px solid; TEXT-INDENT: 30px
}
.leftx {
	BORDER-LEFT: #eeeeee 1px solid
}
.fanye .bzxsk {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.huifu {
	PADDING-BOTTOM: 10px; MARGIN: 30px 10px 0px; MIN-HEIGHT: 60px; WIDTH: 100%; BACKGROUND: #e5e5e5; PADDING-TOP: 10px
}
.wenzi {
	LINE-HEIGHT: 1.5; MARGIN: 0px auto; WIDTH: 98%
}
.fanye .beizhuxiang {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; TEXT-INDENT: 30px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.cr {
	COLOR: #f66465
}
.num1 {
	BACKGROUND-IMAGE: url(../images/n_01.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; COLOR: #ffffff; TEXT-DECORATION: none
}
.num2 {
	BACKGROUND-IMAGE: url(../images/n_02.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; TEXT-DECORATION: none
}
.anu {
	BORDER-RIGHT-WIDTH: 0px; TEXT-TRANSFORM: uppercase; WIDTH: 89px; DISPLAY: block; BACKGROUND: url(../images/anu1.gif) no-repeat left top; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 23px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; CURSOR: hand
}
A.blue:link {
	FONT: 12px "ו"; COLOR: #475e91; TEXT-DECORATION: underline
}
A.blue:visited {
	FONT: 12px "ו"; COLOR: #475e91; TEXT-DECORATION: underline
}
A.blue:hover {
	FONT: 12px "ו"; COLOR: #475e91; TEXT-DECORATION: underline
}
.yyxxlCurrent {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(../images/anniu.gif) no-repeat; HEIGHT: 22px; COLOR: blue
}
.textboxcolor {
	BACKGROUND-COLOR: red
}
.HotelBox {
	MARGIN: 0px 26px
}
.HotelBox .data {
	LINE-HEIGHT: 28px; PADDING-LEFT: 17px; MARGIN-BOTTOM: 6px; BACKGROUND: url(../images/ts.gif) #efefef no-repeat left 50%; HEIGHT: 28px; COLOR: #ffffff; FONT-WEIGHT: bold
}
.HotelBox .PageTab {
	HEIGHT: 35px
}
.HouseTab {
	MARGIN: 20px 0px
}
.HouseTab TD {
	HEIGHT: 33px
}
.HouseTab TR.LineTr {
	BACKGROUND: url(../images/line.gif) repeat-x left center
}
.HouseTab .text1 {
	BORDER-BOTTOM: #a8b2b5 1px solid; BORDER-LEFT: #a8b2b5 1px solid; LINE-HEIGHT: 18px; WIDTH: 139px; HEIGHT: 18px; BORDER-TOP: #a8b2b5 1px solid; BORDER-RIGHT: #a8b2b5 1px solid
}
.HouseTab .select1 {
	BORDER-BOTTOM: #a8b2b5 1px solid; BORDER-LEFT: #a8b2b5 1px solid; WIDTH: 141px; HEIGHT: 20px; BORDER-TOP: #a8b2b5 1px solid; BORDER-RIGHT: #a8b2b5 1px solid
}
.HouseTab .mating {
	BORDER-BOTTOM: #a8b2b5 1px solid; BORDER-LEFT: #a8b2b5 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; OVERFLOW-Y: scroll; PADDING-LEFT: 10px; WIDTH: 190px; PADDING-RIGHT: 0px; HEIGHT: 177px; MARGIN-LEFT: 25px; BORDER-TOP: #a8b2b5 1px solid; BORDER-RIGHT: #a8b2b5 1px solid; PADDING-TOP: 0px
}
.HouseTab .addbtn {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 65px; DISPLAY: block; BACKGROUND: url(../images/addbtn.jpg) no-repeat; HEIGHT: 22px
}
.HouseTab .textarea1 {
	BORDER-BOTTOM: #a8b2b5 1px solid; BORDER-LEFT: #a8b2b5 1px solid; WIDTH: 192px; HEIGHT: 177px; BORDER-TOP: #a8b2b5 1px solid; BORDER-RIGHT: #a8b2b5 1px solid
}
.HouseTab .textarea2 {
	BORDER-BOTTOM: #a8b2b5 1px solid; BORDER-LEFT: #a8b2b5 1px solid; WIDTH: 521px; HEIGHT: 142px; BORDER-TOP: #a8b2b5 1px solid; BORDER-RIGHT: #a8b2b5 1px solid
}
.HouseTab2 {
	MARGIN: 20px 0px
}
.HouseTab2 TD {
	HEIGHT: 35px
}
.HouseTab2 .star {
	WIDTH: 8px; DISPLAY: inline-block; COLOR: #ff9933
}
.HouseTab2 .select1 {
	BORDER-BOTTOM: #b3bcbd 1px solid; BORDER-LEFT: #b3bcbd 1px solid; WIDTH: 95px; HEIGHT: 20px; COLOR: #999999; BORDER-TOP: #b3bcbd 1px solid; BORDER-RIGHT: #b3bcbd 1px solid
}
.HouseTab2 .select2 {
	BORDER-BOTTOM: #b3bcbd 1px solid; BORDER-LEFT: #b3bcbd 1px solid; WIDTH: 404px; HEIGHT: 20px; COLOR: #999999; BORDER-TOP: #b3bcbd 1px solid; BORDER-RIGHT: #b3bcbd 1px solid
}
.HouseTab2 .text1 {
	BORDER-BOTTOM: #b3bcbd 1px solid; BORDER-LEFT: #b3bcbd 1px solid; LINE-HEIGHT: 18px; WIDTH: 402px; HEIGHT: 18px; COLOR: #999999; BORDER-TOP: #b3bcbd 1px solid; BORDER-RIGHT: #b3bcbd 1px solid
}
.HouseTab2 .text2 {
	BORDER-BOTTOM: #b3bcbd 1px solid; BORDER-LEFT: #b3bcbd 1px solid; LINE-HEIGHT: 18px; WIDTH: 364px; DISPLAY: inline; FLOAT: left; HEIGHT: 18px; COLOR: #999999; MARGIN-LEFT: 24px; BORDER-TOP: #b3bcbd 1px solid; BORDER-RIGHT: #b3bcbd 1px solid; _margin-top: -10px
}
.HouseTab2 .textarea1 {
	BORDER-BOTTOM: #b3bcbd 1px solid; BORDER-LEFT: #b3bcbd 1px solid; WIDTH: 402px; HEIGHT: 156px; BORDER-TOP: #b3bcbd 1px solid; BORDER-RIGHT: #b3bcbd 1px solid
}
.HouseTab2 TR.LineTr {
	BACKGROUND: url(../images/line.gif) repeat-x left center
}
.HouseTab2 .look {
	FLOAT: left; _margin-top: -10px
}
.citytable {
	PADDING-LEFT: 40px
}
.citytable TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.citytable TABLE TD {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
