ul.tablist_2 li a.current:link, ul.tablist_2 li a.current:visited, ul.tablist_2 li a.current:hover
{
    background: #4E8CCF;
    border: #0046ad 2px solid;
    border-bottom-color: #4E8CCF;
    border-left-color: #4E8CCF;
    border-right-color: #4E8CCF;
	color:#FFFFFF;
}
ul.tablist_2
{
    border-bottom-color: #0046ad;
}
